@model IEnumerable<MvcLyrics.Models.Album>

<ul>
    @foreach (var item in Model)
    {

        <li>@Html.ActionLink(item.AlbumName, "Show", "Albums", new { id = item.AlbumId }, null)</li>
    }

</ul>
