@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lyrics is an educational project to demostrate the use of ASP .NET Framework, MVC 6, EF 5 and other trending technologies.</p>
