
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    San Francisco Bay Area
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:contact@hack3rlife.com">contact@hack3rlife.com</a><br />
</address>